<!-- Footer -->
<footer class="hidden">        	
    <div id="footer-container">
        <div id="backtotop" class="button-wrap left">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <i class="fa-solid fa-angle-up"></i>
                </div>
            </div>
            <div class="button-text sticky left"><span data-hover="Back Top">Back Top</span></div> 
        </div>
        
        <div class="footer-middle">
            <div class="copyright">2025 © <a class="link" target="_blank" href="/">Stephan Peralta</a>. All rights reserved.</div>
        </div>
        
        <div class="socials-wrap">            	
            <div class="socials-icon"><i class="fa-solid fa-share-nodes"></i></div>
            <div class="socials-text">Follow Us</div>
            <ul class="socials">
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.dribbble.com" target="_blank">Db</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.twitter.com" target="_blank">Tw</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.behance.net" target="_blank">Be</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.facebook.com" target="_blank">Fb</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.instagram.com" target="_blank">In</a></span></li>
            </ul>                
        </div>
    </div>
</footer>
<!--/Footer --> 