{% layout 'theme' %}

{% section 'header' %}

<div class="main-content">
  <h1>Cart Page</h1>
  <p>This is a placeholder for your cart page.</p>
  {{ cart.items | json }}
</div>

{% section 'footer' %} 