{% layout 'theme' %}

{% section 'header' %}

<div class="main-content">
  <h1>Collection Page</h1>
  <p>This is a placeholder for your collection page.</p>
  {{ collection.title }}
  {{ collection.description }}
</div>

{% section 'footer' %} 