{% layout 'theme' %}

<!-- Hero Section -->
<div id="hero" class="has-image autoscroll1">
    <div id="hero-styles">
        <div id="hero-caption" class="content-full-width height-title">
            <div class="inner">   
                <h1 class="hero-title caption-timeline primary-font-title"><span>{{ page.title }}</span></h1>
            </div>
        </div>
        <div id="hero-description" class="content-full-width">
            <div class="inner">
                {{ page.content }}
            </div>
        </div>
        <div id="hero-footer">
            <div class="hero-footer-left">                                	
                <div class="button-wrap right scroll-down">
                    <div class="icon-wrap parallax-wrap">
                        <div class="button-icon parallax-element">
                            <i class="arrow-icon-down"></i>
                        </div>
                    </div>
                    <div class="button-text sticky right"><span data-hover="Scroll to Explore">Scroll to Explore</span></div> 
                </div>	
            </div>
            <div class="hero-footer-right">
                <div id="share" class="page-action-content" data-text="Share:"></div>
            </div>
        </div>                                    
    </div>
</div>

<!-- Main Content -->
<div id="main-content">
    <div id="main-page-content">
        {{ page.metafields.custom.project_content }}
    </div>
</div> 